# Visual Studio user-specific files
.idea
.vs
*.suo
*.user
*.sln.docstates

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac files
.DS_Store

Kwikly/bin
Kwikly/obj
